src/main/mule/ci_cd_pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="470a5c70-df2e-45c5-9e36-ce9fb47b7fd8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="94aa2119-3611-4600-8983-6d81030d4a17" >
		<db:my-sql-connection host="localhost" port="3306" user="port" password="port" database="customer_table"/>
	</db:config>
	<flow name="ci_cd_pipelineFlow" doc:id="6c8fbbe3-5572-4b0b-976e-609a06490b4a" >
		<http:listener doc:name="Listener" doc:id="a1218e0f-0ee9-4667-9a3c-d554e3642a69" config-ref="HTTP_Listener_config" path="/pipeline"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="bf3f1245-3337-4e8e-bbea-36130b5beec3" />
		<db:insert doc:id="4a9922f4-5ace-4e05-8141-89539ec9515d" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO customer_table (name,address,email,telephone) VALUES (:customername,:address,:email,:telephone)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
   customername : payload.name,
   address : payload.address,
   email : payload.email,
   telephone : payload.telephone
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="aa5637dc-944a-4822-be2a-ec4105b1df37" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
